{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<!--Imagem no topo da homepage-->
<div class="banner">
    <img src="{% static 'img/Capa_site.png' %}" class="d-block w-100" alt="...">   
</div>

<!-- Essa tag irá incluir a barra de navegação -->
{% include 'blog/navbar.html' %}

<main role="main" class="container mt-4">
    <div class="row">
        <div class="col-md-8 blog-main">
            <h4 align="center" style="color:lightslategray"><em>Postagens mais recentes:</em></h4>
            <hr> 
            <div class="row mb-2">
                    
                    {% for post in posts|slice:":6" %} 
                    <div class="col-md-6">
                        <div class="card flex-md-row mb-4 shadow-sm h-md-250" style="width:22rem; height:20rem;">

                            <div class="card-body d-flex flex-column align-items-start">
                                {# <!--<img src="{% static 'img/project1.png' %}" alt="..." class="img-thumbnail">-->#}
                                {% csrf_token %}       
                                <a href="{% url 'blog_detail' post.pk %}" style="color: black;"><h5 class="card-title">{{ post.title }}</h5></a>                             
                                <p class="card-text">{{ post.summary | slice:":200" | safe }}</p>
                                <p class="mb-auto text-muted"><small>{{ post.created_at }}  <a class="text-muted" href="{% url 'blog_autor' %}" target="_blank">Robson Passos</a></small></p> 
                                
                                <!--<a class="btn btn-dark" href="{% url 'blog_detail' post.pk %}">Leia mais...</a>-->   
                                <br>
                                <div style="display:flex">
                                    {% for tag in post.tags.all %}
        
                                        <form role='form' action="{% url 'tag' %}" method='GET'> 
                                            {% csrf_token %}
                                            <input type="submit" class="btn btn-sm btn-outline-secondary mr-1 py-0" style="font-size: 0.8em;" value="{{ tag }}" name="tag">
                                        </form>
        
                                    {% endfor %}
                                </div>
                            </div>
                                    
                        </div>
                    </div>
                    {% endfor %}
                
                </div>      

        </div><!-- /.blog-main -->

        <!--Sidebar-->
        <div class="col-md-4">        
            {% include 'blog/sidebar.html' %}
        </div>

    </div> <!-- /.row-->
</main>


<!-- Ver as outrs postagens-->
<hr>
<div align="center">
    <a class="btn btn-dark" data-toggle="collapse" href="#collapsePost" role="button" aria-expanded="false" aria-controls="collapseExample">
        <i class="fas fa-angle-double-down"></i> Ver todas as postagens  <i class="fas fa-angle-double-down"></i>
    </a>
</div>

<br>  

<div class="collapse" id="collapsePost">
    <div class="container">
        <br>
        <div class="row">
            {% for post in posts|slice:"6:" %} 
            <div class="col-md-4">
                <div class="card flex-md-row mb-4 shadow-sm h-md-250" style="width:22rem; height:20rem;">
                    <div class="card-body d-flex flex-column align-items-start">
                        <a href="{% url 'blog_detail' post.pk %}" style="color: black;"><h5 class="card-title">{{ post.title }}</h5></a>                             
                        <p class="card-text">{{ post.summary | slice:":200" | safe }}</p>
                        <p class="mb-auto text-muted"><small>{{ post.created_at }}  <span> Robson Passos</span></small></p>        
                        <br>
                        <div style="display:flex">
                            {% for tag in post.tags.all %}
    
                                <form role='form' action="{% url 'tag' %}" method='GET'> 
                                    {% csrf_token %}
                                    <input type="submit" class="btn btn-sm btn-outline-secondary mr-1 py-0" style="font-size: 0.8em;" value="{{ tag }}" name="tag">
                                </form>
    
                            {% endfor %}
                        </div>
                    </div>      
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}